@model IEnumerable<pamela_soulis_project1.Domain.Model.Customer>

@{
    ViewData["Title"] = "Index";
}


<h1 style="color:darkblue; font-family: Comic Sans MS, cursive, sans-serif;">Our Customers</h1>
<p>
    <a asp-action="Create">Register if you are a new customer</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Last Name: <input type="text" name="Searchstring" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

    <table class=" = " table">
        <thead>
            <tr>
                <th style="color:cadetblue; font-family: Comic Sans MS, cursive, sans-serif;">ID</th>
                <th style="color:cadetblue; font-family: Comic Sans MS, cursive, sans-serif;">First Name</th>
                <th style="color:cadetblue; font-family: Comic Sans MS, cursive, sans-serif;">Last Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model)
            {
            <tr>
                <td>@person.CustomerId</td>
                <td>@person.FirstName</td>
                <td>@person.LastName</td>
                <td>                    
                    @Html.ActionLink("Details", "Details", new { id = person.CustomerId })                   
                </td>
            </tr>
            }
        </tbody>
    </table>




